.single_song {
    display: grid;
    grid-template-columns: 300px 600px 50px 50px;
    grid-template-rows: 125px 125px;
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
    max-width: 1000px;
}

.single_img {
    margin-top: 25px;
    margin-bottom: 25px;
    max-height: 250px;
    max-width: 250px;
    min-height: 250px;
    min-width: 250px;
    grid-column: 1;
    grid-row: 1 / 4;
}

.single_title {
    grid-column: 2;
    grid-row: 1;
    margin-left: 20px;
    margin-top: 60px;
    font-weight: bold;
    font-size: 35px;
    transition: .2s;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.single_username {
    margin-left: 20px;
    margin-top: 60px;
    font-weight: bold;
    font-size: 25px;
    grid-column: 2;
    grid-row: 2;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.single_username:hover {
    text-shadow: 1px 1px 2px grey;
    transition: .2s;
    cursor: pointer;
}

.song_article {
    display: flex;
    flex-direction: column;
    align-items: center;
}